body {
  background-image: url("/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.input {
  margin-top: 5px;
  margin-bottom: 5px;
}
a > img {
  margin-left: 1rem;
  width: 35%;
  max-height: 8.75rem;
  position: relative;
  top: -12px;
}

#your, #monte {
  position: relative;
}

#your {
  font-size: xx-large;
  font-family: inherit;
  left: -16%;
  color: #ff7657;
  font-weight: bold;
}

#monte {
  left: -56%;
  top: 51%;
  font-family: inherit;
}
/* #breads {
  background-image: url("/assets/images/bread.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


#beefs {
  background-image: url("/assets/images/beef.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sauces {
  background-image: url("/assets/images/sauce.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#salads {
  background-image: url("/assets/images/salad.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.box {
  background-color: rgba(252, 252, 252, 0.75);
}

input[type="text"], input[type="number"] {
  background-color: rgba(252, 252, 252, 0.85);
}

.table {
  background-color: rgba(252, 252, 252, 0.75);
}